/* topbar */
.sc-21g986-0.jrRyTH.FIE_topbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  /* main canvas div */
  .konvajs-content {
    border: 1px solid #ccc;
    background-color: aliceblue;
    box-shadow: 0 0 10px rgba(173, 216, 230, 0.8);
  }
  
  /* Side Bar */
  .sc-qhd6ow-0.jHcBoD.FIE_tabs {
    background-color: #f1f1f1;
    float: left;
    padding: 10px;
  
  }
  /* Toolbar wrapper */
  .sc-dwg14p-0.fhHeHN.FIE_tools-bar-wrapper{
    background-color: #f1f1f1;
    padding: 10px;
  }
  
  .sc-fvaj5j-0.kirEIB.FIE_watermark-add-wrapper {
    padding: 10px;
  
  }