body {
    margin: 0;
    padding: 0;
    background-color:  #ecf0f1;
  }

  .head2{
    padding: 20px;
    margin-top: 40px;
    color: white;
    text-align: center;
    font-size: 30px;
}
  .blurry-image2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 65%;
    filter: blur(2px); 
    background: url('../images/design2.jpg') no-repeat center center;
    background-size: cover;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    z-index: -1;
}
.poster-wrapper{
  margin-bottom: 100px;
}