
canvas {
    border: 1px solid #000000; 
    width: auto;
    height: auto;
  }

  .main-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .filter-main {
    border: 2px solid #746e6e;
    width: 90%; 
    max-width: 650px; 
    margin: 20px auto; 
    padding: 20px;
    background: linear-gradient(to right, #b3e0ff, #ffd699);
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
  }

  .filter-wrapper {
    text-align: center;
  }

  .slider-label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    margin-left: -50px; 
  }

  .slider-container {
    display: flex;
    align-items: center;
  }

  input[type="range"] {
    flex: 1;
    margin-right: 10px;
  }

  .val-container {
    width: 40px; 
    text-align: center;
  }

  .val {
    font-size: 14px;
    color: #555;
  }
  @media (max-width: 768px) {
    .filter-main {
      flex-direction: column; 
      align-items: stretch; 
    }
  }
