/* src/components/AuthForm.css */

.auth-form {
    padding: 20px;
    margin-top: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
  }
  
  .auth-form.login {
    background-color: #63a69f;
  }
  
  .auth-form.signup {
    background-color: #ffaa5e; 
  }
  
  .auth-form h2 {
    color: #fff; 
  }
  
  .auth-form p,
  .auth-form .forgot-password {
    cursor: pointer;
    margin-top: 10px;
    color: #fff;
    transition: color 0.3s ease-in-out;
  }
  
  .auth-form p:hover,
  .auth-form .forgot-password:hover {
    text-decoration: underline;
    color: #ccc;
  }
  
  .auth-form Button {
    background-color: #4c6ef5;
    border: none;
    transition: background-color 0.3s ease-in-out;
  }
  
  .auth-form Button:hover {
    background-color: #3546b3; 
  }
  
  .toggle-form {
    cursor: pointer;
    margin-top: 10px;
    color: #007bff;
    transition: color 0.3s ease-in-out;
  }
  
  .toggle-form:hover {
    color: #004080; 
  }
  