body{
  height: 100%;
  margin: 0;
  padding-bottom: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

/* topbar */
.sc-21g986-0.jrRyTH.FIE_topbar{
 background-color: aliceblue;
}
/* main canvas div */
.konvajs-content{
  background-color: aliceblue;
}

.sc-fvaj5j-0.kirEIB.FIE_watermark-add-wrapper{
  padding: 10px;

}